<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>URL- tinyApp</title>
    <link
      href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="styles/home.css" />
  </head>
  <body>
    <div class="intro-header">
      <div class="intro-container">
        <nav class="main-nav">
          <h1 class="logo">tinyApp</h1>
          <div class="login-container">
            <p><a href="/login">Login</a></p>
            <p><a href="/register">Register</a></p>
          </div>
        </nav>
        <h2>Easily shorten your URL–for free.</h2>
      </div>
    </div>
    <div class="features">
      <div class="card">
        <i class="fas fa-bolt fa-2x"></i>
        <p class="card-title">Quick</p>
        <p class="card-description">Easy, and user-friendly</p>
      </div>
      <div class="card">
        <i class="fas fa-share-alt fa-2x"></i>
        <p class="card-title">Built to share</p>
        <p class="card-description">Made for simple sharing</p>
      </div>
      <div class="card">
        <i class="fas fa-lock fa-2x"></i>
        <p class="card-title">Secure</p>
        <p class="card-description">
          As a user, only you have access to your list of URLs.
        </p>
      </div>
      <div class="card">
        <i class="fas fa-chart-line fa-2x"></i>
        <p class="card-title">Analytics</p>
        <p class="card-description">
          Track your visitor activity– see views, unique views, and more.
        </p>
      </div>
    </div>
    <div class="promo">
      <div class="promo-info">
        <h2>Get started</h2>
        <p class="register">Register Now</p>
        <p class="contact">Made by Cindy Halim, 2019</p>
      </div>
    </div>
  </body>
</html>
