body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.navbar {
  color: white;
}
.navbar-brand {
  font-family: "Fredoka One", cursive;
  color: white;
  padding: 1em;
}

.navbar-brand:hover {
  color: white;
}

/* 
.main-container {
  background-image: url("assets/login-bg.png");
  background-size: cover;
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
} */

/* .login-card {
  text-align: center;
}

.login-card input {
  margin: 1em 2em;
}

.card-title {
  padding: 0.5em;
} */
