body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.navbar {
  color: white;
  padding: 0.5em 1em;
}

.navbar-brand {
  font-size: 25px;
}

#navbarNavAltMarkup {
  justify-content: space-between;
}

.navbar-brand {
  font-family: "Fredoka One", cursive;
  color: white;
  padding: 0 1em;
}

.navbar-brand:hover {
  color: white;
}

.navbar-collapse.show {
  padding: 1.5em;
}