nav {
  display: flex;
  justify-content: space-between;
  color: white;
}

nav button {
  font-size: 11px;
}
.navbar-brand {
  font-family: "Fredoka One", cursive;
  color: white;
  padding: 1em;
}

.navbar-brand:hover {
  color: white;
}
.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.login-container .btn {
  font-size: 10px;
}

.d-inline {
  font-size: 10px;
}

.navbar-toggler-icon {
  width: 20px;
  color: white;
}
